 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary-white">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Stone Path Engineering is an embedded firmware consulting firm located in Iowa. With experience in industrial IoT, lighting controls, robotics, wearable tech, agricultural applications and more, Stone Path is ready to tackle your unique embedded systems challenges.</p>
                </div>
<!--                <div class="col-lg-4">-->
<!--                    <p>How do you make a round circle with a square knife? That's your challenge for the day. Everything is happy if you choose to make it that way. You need the dark in order to show the light. This is your creation - and it's just as unique and special as you are.</p>-->
<!--                </div>-->
<!--                <div class="col-lg-8 col-lg-offset-2 text-center">-->
<!--                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">-->
<!--                        <i class="fa fa-download"></i> Download Theme-->
<!--                    </a>-->
<!--                </div>-->
            </div>
        </div>
    </section>
