 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary-white">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Stone Path Engineering is an embedded firmware consulting firm located in Iowa. With experience in industrial IoT, lighting controls, robotics, wearable tech, agricultural applications and more, Stone Path is ready to tackle your unique embedded systems challenges.</p>
                </div>
            </div>
        </div>
    </section>
