 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary-white">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Stone Path Engineering is now part of Spark Embedded, LLC, an embedded firmware consulting firm located in Iowa. </p>
                </div>
            </div>
        </div>
    </section>
